*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    background-image: url(img/img01.jpg);
    width: 100%;
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;    
}

.calendar{
    background-color: #2c3437;
    color: lightgray;
    width: 450px;
    height: 520px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.4);
}

.month{
    width: 100%;
    height: 120px;
    background-color: #555d34;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.month h1{
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.month p{
    font-size: 16px;
}

.weekdays{
    width: 100%;
    height: 50px;
    display: flex;
}


.weekdays div{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}

.days div{
     /* Aggiusta la larghezza tenendo conto di un margine di 2px su ogni lato di una cella */
    width: calc((100% / 7) - 4px); /* Sottrae 4px (2px per lato) dalla larghezza di ogni cella */
    margin: 2px;
    height: 40px; 
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days div:hover:not(.empty){
    border: 2px solid grey;
    cursor: pointer;
}

.today{
    color: #1a1917;
    background-color: #fecb6f;
}

.credit{    
    color: white;
    font-size: 12px;           
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a:link{
    color: #fecb6f;
}



